<div style="font-family:Arial;"><div>1. Enter the password (password is 1001)<br/><br/>
<div style="margin-left:45px;"><input type="checkbox" ng-model="a1"> &nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="a2"> &nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="a3"> &nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="a4">
</div></div><br/>
<div ng-show="a1=='true' && a2=='false' && a3=='false' && a4=='true'">
<div style="color:green;margin-left:80px;">Correct!</div><br/>
<div style="text-align:center;margin-left:80px;"><a href="#!2" style="text-decoration:none;"><div style="width:55px;height:18px;background-color:red;color:white;border-radius:4px;">NEXT</div></a></div></div></div>
